In [ ]:
# 5
def eligibility(a):
  if a>=18:
    return "Eligible to vote"
  else:
    return "Not eligible to vote"
a=int(input("Enter age of a person : "))
print(eligibility(a))

Enter age of a person : 17
Not eligible to vote

In [74]:
# 4
def grades(m):
  if m>=90:
    return "O - Outstanding"
  elif m>=80 and m<90:
    return "Grade A+"
  elif m>=70 and m<80:
    return "Grade A"
  elif m>=60 and m<70:
    return "Grade B"
  else:
    return "Grade C"
m=int(input())
print(grades(m))

85
Grade A+

In [50]:
# 6
def elements(s):
  l=[]
  for i in s:
    l.append(int(i))
  return l
s=input()
print(elements(s))

2001
[2, 0, 0, 1]

In [ ]:
# 7
def pal(s):
  if s==s[::-1]:
    return "Palindrome"
  else:
    return "Not palindrome"
s=input()
print(pal(s))

vineeniv
Palindrome

In [57]:
# 8
def armstrong(n):
  l=[]
  s=str(n)
  for j in range(len(s)):
    x=int(s[j])**len(s)
    l.append(x)
  s1=sum(l)
  if s1==int(s):
    return "Armstrong number"
  else:
    return "Not an Armstrong number"
n=int(input())
print(armstrong(n))

153
Armstrong number

In [63]:
# 9
def fibonacci(n):
  f1=0
  f2=1
  c=0
  l=[]
  if n==1:
    return f1
  elif n>1:
    while c<n:
      l.append(f1)
      f3=f1+f2
      f1=f2
      f2=f3
      c+=1
  return l
n=int(input())
print(fibonacci(n))

10
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [66]:
# 10
def cuboid(l,b,h):
  v=l*b*h
  p=4*(l+b+h)
  return v,p
l=int(input())
b=int(input())
h=int(input())
print(cuboid(l,b,h))

3
2
5
(30, 40)

In [ ]:
# 12.
l=[1,2,3,4,5,6,7,8,9,10]
for i in range(len(l)):
  if l[i]%2==0:
    print(l[i],end=" ")

2 4 6 8 10

In [ ]:
# 13
n=int(input())
for i in range(n):
  if i%2==0:
    print(i,end=" ")

20
0 2 4 6 8 10 12 14 16 18

In [49]:
# 16
def odd_ind(s):
  l=[]
  for i in range(len(s)):
    if i%2!=0:
      l.append(s[i])
  x="".join(l)
  return x
s=input()
print(odd_ind(s))

Welcome to Python Exam
ecm oPto xm

In [46]:
# 20
def odd_ele(n):
  s=0
  for i in range(n):
    if i%2!=0:
      s+=i
  return s
n=int(input())
print(odd_ele(n))

10
25

In [ ]:
# 22
l=["Finland","Germany","Sweden","Ireland","Turkey"]
a="and"
l1=[]
for i in range(len(l)):
  if a in l[i]:
    l1.append(l[i])
print(l1)

['Finland', 'Ireland']

In [ ]:
# 21
f=["Apple","Banana","Pear","Apricot","Orange","Avocado","Breadfruit","Acerola"]
l=[]
for i in range(len(f)):
  if f[i][0]=="A" or f[i][0]=='a':
    l.append(f[i])
print(l)

['Apple', 'Apricot', 'Avocado', 'Acerola']

In [ ]:
# 23
l=[25,12,33,12,8,10]
s=0
for i in range(len(l)):
  s+=l[i]
print(s)

100

In [ ]:
# 24
l=[1,2,5,4,8,10,13,15,18,30]
for i in range(len(l)):
  if l[i]%5!=0:
    print(l[i],end=" ")

1 2 4 8 13 18

In [ ]:
# 25
l=[1,2,5,4,8,10,12,15,18,30]
for i in range(len(l)):
  s=l[i]**2
  print(s,end=" ")

1 4 25 16 64 100 144 225 324 900

In [ ]:
# 26
c=int(input())
f=(c*1.8)+32
print(f)

4
39.2

In [ ]:
# 27
n=int(input())
s=0
for i in range(1,n+1):
  s+=(i**2)
print(s)

5
55

In [ ]:
#28
n=int(input())
for i in range(1,11):
  print(n,"x",i,"=",n*i)

5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [ ]:
# 29
def prime(n):
  l=[]
  for i in range(1,n+1):
    f=False
    if i>1:
      for j in range(2,i):
        if i%j==0:
          f=True
          break
    if not f:
      l.append(i)
  return l
n=int(input())
print(prime(n))

30
[1, 2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

In [36]:
# 30
def armstrong(n):
  l1=[]
  for i in range(1,n+1):
    l=[]
    s=str(i)
    for j in range(len(s)):
      x=int(s[j])**len(s)
      l.append(x)
    s1=sum(l)
    if s1==i:
      l1.append(s1)
  return l1
n=int(input())
print(armstrong(n))

4000
[1, 2, 3, 4, 5, 6, 7, 8, 9, 153, 370, 371, 407, 1634]

In [ ]:
# 31
def pal(n):
  l=[]
  for i in range(1,n+1):
    si=str(i)
    if si==si[::-1]:
      l.append(int(si))
  return l
n=int(input())
print(pal(n))

350
[1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 22, 33, 44, 55, 66, 77, 88, 99, 101, 111, 121, 131, 141, 151, 161, 171, 181, 191, 202, 212, 222, 232, 242, 252, 262, 272, 282, 292, 303, 313, 323, 333, 343]

In [ ]:
# 32
def disarium(n):
  l1=[]
  for i in range(1,n+1):
    l=[]
    s=str(i)
    for j in range(len(s)):
      x=int(s[j])**(j+1)
      l.append(x)
    s1=sum(l)
    if s1==i:
      l1.append(s1)
  return l1
n=int(input())
print(disarium(n))

200
[1, 2, 3, 4, 5, 6, 7, 8, 9, 89, 135, 175]

In [41]:
# 33
n=int(input())
num=1
for i in range(n):
  for j in range(i+1):
    print(num,end=" ")
    num+=1
  print()

5
1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [44]:
# (or) 33 
n=int(input())
num=1
k=n-1
for i in range(n):
  for j in range(k):
    print(end=" ")
  k=k-1
  for j in range(i+1):
    print(num,end=" ")
    num+=1
  print()

4
   1
  2 3
 4 5 6
7 8 9 10

In [ ]:
# 34
n=int(input())
for i in range(n+1):
  c=(i*i*i)+1
  print(c,end=" ")

5
1 2 9 28 65 126

In [ ]:
# 35
n=11
num=int(input())
for i in range(n,num+1):
  m=i*(i+1)
  print(m,end=" ")

15
132 156 182 210 240

In [ ]:
# 36
n=int(input())

l=[]
i=1
while(i<n):
  if i%2==0:
    s=(i**2)-1
  else:
    s=(i**2)+1
    
  i=s
  l.append(s)
print(l)

99
[2, 3, 10, 99]

In [ ]:
########################

In [13]:
#1
statelist = ["Delhi","Telanaga","Goa","AP","Kerala"]
f = ""
for i in statelist:
    f+=i[0]
l = ""
for i in statelist:
    l+=i[-1]

f=f.lower()
l = l.upper()
for i in range(0,len(statelist)):
    print(f[i],l[i],sep="",end="")

dItAgAaPkA

In [14]:
#2
c = 65
for i in range(0,26):
    print(chr(c+i),end=" ")

A B C D E F G H I J K L M N O P Q R S T U V W X Y Z

In [2]:
#3
a = int(input("a : "))
b = int(input("b : "))
c = int(input("c : "))
s = (a+b+c)/2
a = ((s*(s-a)*(s-b)*(s-c))**(0.5))
print("area : ",a)

a : 3
b : 4
c : 5
area :  6.0

In [3]:
#11
'''
i.default arguments
ii.keyword arguments
iii.positional arguments
iv.arbitrary positional arguments
v.arbitrary keyword arguments'''

#i
def add(a,b=5,c=10):
    return (a+b+c)
print(add(3,4))
print(add(3))
print(add(2,3,4))

17
18
9

In [4]:
#11
#ii
def add(a,b=5,c=10):
    return (a+b+c)
print (add(b=10,c=15,a=20))
print (add(a=10))

45
25

In [5]:
#11
#iii
def add(a,b,c):
    return (a+b+c)
print (add(10,20,30))
print (add(10,c=30,b=20))

60
60

In [7]:
#11
#iv
def add(*b):
    result=0
    for i in b:
         result=result+i
    return result

print (add(1,2,3,4,5))
print (add(10,20))

15
30

In [8]:
#11
#v
def fn(**a):
    for i in a.items():
        print (i)
fn(numbers=5,colors="blue",fruits="apple")

('numbers', 5)
('colors', 'blue')
('fruits', 'apple')

In [10]:
#14
s = ["python","programming","language"]
for i in range(0,len(s)):
    s[i] = s[i].upper()
print(s)

['PYTHON', 'PROGRAMMING', 'LANGUAGE']

In [12]:
#15
s = "python"
for i in s:
    print(i,end="")
print()
for i in range(0,len(s)):
    print(s[i],end="")
print()
print(s[:])

python
python
python

In [14]:
#17
s= "hello"
c=0
for i in s:
    c+=1
print(c)

5

In [15]:
#18
n = 124567
c=0
while(n>0):
    c+=1
    n=n//10
print(c)

6

In [21]:
#19
def Vow_convert(s):
    v = ['a','e','i','o','u']
    c = list(s)
    for i in range(0,len(s)):
        if c[i] in v:
            c[i]=c[i].upper()
    return ''.join(c)

s= input("enter String : ")
print(Vow_convert(s))

enter String : Programming Laboratory
PrOgrAmmIng LAbOrAtOry